<a href="https://colab.research.google.com/github/festus136/Electri-car_sharing-company/blob/master/Moringa_school_IP_WK4_Festus_Raini.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTING LIBRARIES

In [ ]:
# Let's import the pandas library 
# 
import pandas as pd

In [ ]:
# Letś import the numpy library
#
import numpy as np

In [ ]:
# Let's import the datetime library
#
import datetime as dt

LOADING DATASETS

You can get the data and the dataset description for this Independent project here [http://bit.ly/autolib_dataset (Links to an external site.)] and here respectively [Link] (Links to an external site.).  The dataset contains data collected for a period of 9 days

EXPLORATION AND CLEANING

In [ ]:
df = ("http://bit.ly/autolib_dataset") 
autolib = pd.read_csv(df, delimiter=',')
autolib_df = pd.DataFrame(autolib)
autolib_df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
# drop cells that are not necessary
df.drop(["Displayed Comment","Rental Status","Station type", "Subscription status", "Year"], axis=1)

AttributeError: ignored

In [ ]:
# Creating a datetime feature from available columns
df.apply(lambda r : pd.datetime.combine(r['date_column_name'],r['time_column_name']),1)

AttributeError: ignored

In [ ]:
# Order data based on datetime descending Order

SyntaxError: ignored

In [ ]:
# Identify the most popular hour of the day for picking a shared electric car(Bluecar)in the city of paris over the month of April 2018
df['Bluecar'].max()

TypeError: ignored

In [ ]:
# Identify the most popular hour for returning cars
df['Hour'].max()

In [ ]:
# The most popular station
df['Station'].max()

In [ ]:
# Identify the most popular hour for picking cars
df['Hour'].max()

In [ ]:
# What postal code is the most popular for picking up Blue cars
df['Postal_cod',Blue cars´].max()